@import "./colors.less";


.actions {
    background-color: @actionsBackgroundColor;
    margin-left: -30px;
    margin-right: -30px;
    padding: 5px;

    .btn-action {
        border: 1px solid white;
        border-radius: 50px;
        height: 80px;
        width: 80px;
        margin: 5px;

        background: #1F1F1E;

        i {
            color: #F7F6F7;
        }
    }

    .btn-action:hover {
        background-color: #353534;

        i {
            color: #EEEEEE;
        }
    }

    .btn-action.btn-inverted {
        background: #626262;

        i {
            color: #F7F7F7;
        }
    }

    .btn-action.btn-inverted:hover {
        background: #626262;

        i {
            color: #F7F7F7;
        }
    }
}