@backgroundColor: #2d2d2d;
@textColor: #e9e9e9;
@textAlternateColor: black;

// Slides
@presentationBackgroundColor: #282828;
@presentationBorderColor: black;
@slideBorderColor: white;
@thumbnailsBackgroundColor: #323232;
@thumbnailBorderColor: white;

// Actions
@actionsBackgroundColor: #333333;
@actionsColor: #e9e9e9;
@actionsColorHover: white;
@actionsSeparatorColor: #434345;
@actionsRecordingColor: #ce375c;

// Attendees
@attendeesBackgroundColor: #2d2d2d;
@attendeesBorderColor: black;

// Videos
@videoBackgroundColor: grey;
@videoBorderColor: white;
@videoNameRectangularBackgroundColor: rgba(0, 0, 0, 0.4);

// Chat
@chatBackgroundColor: #2d2d2d;
@chatColor: #dfdfdf;
@chatSendMessageBackgroundColor: #282828;

// Status Bar
@statusBarBackgroundColor: #007dce;
@statusBarColor: white;
@statusBarSeparatorColor: white;
